* {
    font-family: roboto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 8px 24px;
    width: 110px;
    /* border: none; */
}

ul {
    list-style-type: none;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 150px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.logo,
.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 24px;
}

.lower-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-container {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    margin-right: 50px;
}

.hero-text-container button {
    /* width: 110px; */
    border: none;
}

.hero-image-container {
    display: flex;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #E5E7EB;
    font-size: 16px;
}

.hero-image-container img {
    width: 500px;
    height: auto;
}

.information {
    padding: 50px 0px 100px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.info-image-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

.info-image {
    max-width: 250px;
}

.info-image img {
    width: 150px;
    height: auto;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 70px 200px;
}

.quote-text {
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
}

.quote-person {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.signup {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    margin: 50px 100px;
    padding: 50px;
    background-color: #3882F6;
    gap: ;
}

.signup-text-container {
    display: flex;
    flex-direction: column;
}

.signup-header {
    color: #E5E7EB;
    font-size: 20px;
}

.signup-text {
    color: #E5E7EB;
}

.signup button {
    padding: 5px;
    border-color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}